.propos {
    display: flex;
    flex-direction: column;
    margin: auto;
}
.title {
    font-weight: bolder;
    text-align: center;
    font-size: 64px;
}

.text {
    font-size: 32px;
    text-align: center;
}
@media(min-width: 40rem) {
    .propos {
        width: 40rem;
        max-width: 50rem;
        margin: auto;
    }
    .title {
        font-weight: bolder;
        text-align: center;
        font-size: 64px;
    }   
}